body {
    background-color: blue;
}
p {
    color: skyblue;
}
h1 {
    color: skyblue;
}
section {
    color: skyblue;
}
div {
    color: skyblue;
}
nav {
    color: skyblue;
}
.carousel-item img {
    height: 50vh; 
    object-fit: cover;
}